@import "tailwindcss";

html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
 }
body {
  margin: 0;
  padding: 0;

  }

  /* Root button colors and hover backgrounds */
:root {
  --brand-primary: #f2f3f3;    
  --brand-secondary: #a0a3a7;  
  
   --btn-bg: transparent;       
  --btn-text: #343d51;         
  --btn-border: #e5e7eb;       
  --btn-hover-bg: #aeb1b8;  
  

  
  --logo-color: #111827;
}




