@import "tailwindcss";

:root {
  --brand-primary: #f2f3f3;    
  --brand-secondary: #a0a3a7;  
  
  /* Buttons & Interactions */
  --btn-bg: transparent;       
  --btn-text: #343d51;         
  --btn-border: #e5e7eb;       
  --btn-hover-bg: #aeb1b8;     
  
  --logo-color: #111827;
}

body {
  background-color: #f9fafb;
  color: #1f2937; 
  

}

@layer components {
  .btn-neutral {
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 1px solid var(--btn-border);
    transition: all 0.2s ease;
  }
  
  .btn-neutral:hover {
    background-color: var(--btn-hover-bg);
  }
}