/* @import "tailwindcss";

html, body, #root {
  height: 100%;
  font-family: 'Roboto', sans-serif;
} */


@import "tailwindcss";

/* 1. Reset margin and padding to 0 
   2. Ensure box-sizing is border-box to prevent overflow
*/
* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* overflow-x: hidden; Prevents horizontal scrollbars */
}